<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My blog</title>
</head>
<body>
    <h1>Welcome to my perfect blog</h1>
    <h2>Hello</h2>
    <h3>my tech friends</h3>
    <article>
        <time>published: 4.11.2023, 12:42</time>
        <h2><a href="/post_view">My first hillarious post</a></h2>
        <p>Post is concerning the coming elnino in coastal areas that is Pwani,Tanga and some areas in Zanzibar .</p>
    </article>

    <article>
        <time>published: 4.11.2023, 12:42</time>
        <h2><a href="">My second post</a></h2>
        <p>Garage services at Saje auto garage are now available.</p>
    </article>
</body>
</html>